<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleName</key>
	<string>Medusa</string>
	<key>CFBundleDisplayName</key>
	<string>Medusa</string>
	<key>CFBundleExecutable</key>
	<string>Medusa</string>
	<key>CFBundleIconFile</key>
	<string>Medusa</string>
	<key>CFBundleIconName</key>
	<string>Medusa</string>
	<key>CFBundleIdentifier</key>
	<string>org.medusa.Medusa</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>0.1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSMinimumSystemVersion</key>
	<string>13.0</string>
	<key>LSUIElement</key>
	<true/>
	<key>NSHumanReadableCopyright</key>
	<string>Open-source input lock for macOS.</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>SUFeedURL</key>
	<string>https://raw.githubusercontent.com/rohmanhm/medusa/main/appcast.xml</string>
	<key>SUPublicEDKey</key>
	<string>gfglPa8tNtUQSbtG7V3hAgCRN0Ik3fKWjd+CDdTpgGk=</string>
</dict>
</plist>
